<div class="main">
  <div class="container">
    <!-- Title -->
    <div class="form-group row">
      <div class="col-md-12">
        <div class="panelTitle">
          <h6>Report</h6>
        </div>
      </div>
    </div>
    <!-- Title -->
    <div class="form-group row">
      <div class="col-md-12">
        <label class="label-control">Template: </label>
      </div>
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="checkOnFullReport"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportTemplateType"
            [value]="reportTemplateType.Full"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnFullReport">
            Fr Report</label
          >
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="checkOnMissingOnSource"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportTemplateType"
            [value]="reportTemplateType.MissingActualResult"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnMissingOnSource">
            Missing on Legacy</label
          >
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="checkOnMissingOnTarget"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportTemplateType"
            [value]="reportTemplateType.MissingExpectedResult"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnMissingOnTarget">
            Missing on Target</label
          >
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="checkOnDifferences"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportTemplateType"
            [value]="reportTemplateType.Differences"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnDifferences">
            Differences</label
          >
        </label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="summaryReport"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportTemplateType"
            [value]="reportTemplateType.Summary"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="summaryReport">
            Summary Report</label
          >
        </label>
      </div>
    </div>

    <hr />
    <!-- Title -->
    <div class="form-group row">
      <div class="col-md-12">
        <label class="label-control">Format: </label>
      </div>
      <hr />
      <div class="col-md-6">
        <label class="k-form-field left">
          <input
            type="radio"
            id="checkOnExcel"
            name="radioReport"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportType"
            [value]="reportType.Excel"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnExcel">
            <span class="k-icon k-i-excel"></span>EXCEL</label
          >
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="checkOnPdf"
            name="radioReport"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportType"
            [value]="reportType.Pdf"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnPdf">
            <span class="k-icon k-i-file-pdf"></span>PDF</label
          >
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label class="k-form-field right">
          <input
            type="radio"
            id="checkOnWord"
            name="radioReport"
            class="k-radio"
            [(ngModel)]="editingReportsItem.reportType"
            [value]="reportType.Word"
            [disabled]="readOnly"
            (ngModelChange)="onInputFieldChange($event)"
          />
          <label class="k-radio-label" for="checkOnWord">
            <span class="k-icon k-i-word"></span> WORD</label
          >
        </label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="input-group">
          <button
            kendoButton
            class="btn btn-primary"
            (click)="saveReportsComp()"
            [icon]="'save'"
            [disabled]="readOnly"
          >
            Save Report
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
