.k-i-excel {
  color: #008000;
  font-size: 22px;
}
.k-i-file-pdf {
  color: #ff0000;
  font-size: 22px;
}
.k-i-word {
  color: #00a4ef;
  font-size: 22px;
}

.k-radio-label::before,
.k-radio-label::before {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-style: solid;
}
