<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light text-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
        <a href="#">
          <img class="logo" src="assets/images/validataLogo.png" /> </a
        >Financial Reconcilation
      </li>-->
        <li class="nav-item">
          <a href="#" class="nav-link text-light">
            <img class="logo" src="assets/images/validataLogo.png" />
          </a>
        </li>
        <li class="nav-item active nav-custom">
          <a routerLink="/main-screen" class="nav-link text-light"
            >Financial Reconcilation Design</a
          >
        </li>
        <li class="nav-item nav-custom">
          <a routerLink="/app-executed-pipeline" class="nav-link text-light"
            >Executed pipeline</a
          >
        </li>
      </ul>
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        type="submit"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </nav>
</div>
