::ng-deep.logo {
  height: 45px;
}

.container-fluid {
  width: 100%;
  margin-bottom: 6px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  -moz-box-shadow: 0 4px 4px rgb(169, 169, 169);
  -webkit-box-shadow: 0 4px 4px rgb(169, 169, 169);
  box-shadow: 0 2px 2px rgb(169, 169, 169);
  font-family: "Montserrat", sans-serif;
}
.text-light {
  color: #696969 !important;
  font-size: 1.7vh;
  font-weight: 600;
  padding: 8px 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.text-light:hover {
  color: #696969 !important;
}

.text-light:focus {
  color: #4f8f6c !important;
}
a .navbar-name {
  padding-right: 15px;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

a .navbar-name:hover {
  color: #fff;
  text-decoration: none;
}

li.nav-custom {
  position: relative;
  top: 20px;
}
