<div [formGroup]="parentForm">
  <kendo-upload
    [saveUrl]="uploadSaveUrl"
    [restrictions]="fileTypeRestriction"
    [multiple]="false"
    [(ngModel)]="uploadedFiles"
    [saveField]="'File'"
    (upload)="uploadUploadEventHandler($event)"
    (success)="successUploadEventHandler($event)"
    (error)="errorUploadEventHandler($event)"
    [formControlName]="uploadFormControlName"
    [disabled]="readOnly"
  >
    <kendo-upload-messages select="Browse"> </kendo-upload-messages>
  </kendo-upload>
</div>
