<kendo-menu class="submenu" [vertical]="false" style="float: left;">
  <kendo-menu-item
    class="submenu-item"
    [text]="menuItem.text"
    [data]="menuItem"
    [disabled]="!menuItem.isActive"
    *ngFor="let menuItem of menuItems"
  >
    <ng-template kendoMenuItemLinkTemplate let-item="item" let-index="index">
      <span [kendoMenuItemLink]="index" (click)="menuItemClick(item)">
        {{ item.text }}
      </span>
    </ng-template>
  </kendo-menu-item>
</kendo-menu>
<kendo-dialog
  [title]="inProcessModel.popupTitle"
  *ngIf="isPopupOpen"
  [minWidth]="400"
  [height]="300"
  (close)="close()"
>
  <div class="container">
    <div class=" form-group row">
      <label class="col-md-3 col-form-label"> <span>Title:</span></label>
      <div class="col-md-9">
        <input
          class="k-textbox"
          width="200"
          placeholder="Please give a title."
          [(ngModel)]="inProcessModel.title"
        />
      </div>
    </div>
    <div class=" form-group row">
      <label class="col-md-3 col-form-label"> <span>Description:</span></label>
      <div class="col-md-9">
        <input
          class="k-textbox"
          width="200"
          placeholder="Please give a description."
          [(ngModel)]="inProcessModel.description"
        />
      </div>
    </div>
    <div class=" ">
      <kendo-dialog-actions class="buttons-dialog">
        <button type="button" class="k-button cancel-button" (click)="close()">
          Cancel
        </button>
        <button
          type="button"
          class="k-button k-primary submit-button"
          (click)="submit()"
          [disabled]="!inProcessModel.title"
        >
          Submit
        </button>
      </kendo-dialog-actions>
    </div>
  </div>
</kendo-dialog>

<!-- // Delete Dialog -->
<kendo-dialog
  title="Critical action"
  *ngIf="isCriticalDialogOpen"
  (close)="close()"
  [minWidth]="250"
  [width]="450"
>
  <b> <p [innerText]="inProcessModel.popupTitle"></p></b>
  <p [innerText]="inProcessModel.description"></p>
  <kendo-dialog-actions>
    <button type="button" class="k-button cancel-button" (click)="close()">
      No
    </button>
    <button
      type="button"
      class="k-button k-primary submit-button"
      (click)="submit()"
    >
      Yes
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
