.submenu {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  background-color: transparent !important;
}

.submenu-item {
  padding: 1px 6px !important;
}

.buttons-dialog {
  padding: 20px;
}
