html,
body {
  height: 100%;
}

.logindiv {
  height: 100%;
  width: 100%;
  background: rgb(31, 78, 121);
  background: -moz-linear-gradient(
    180deg,
    rgba(31, 78, 121, 1) 0%,
    rgba(49, 92, 132, 1) 6%,
    rgba(69, 108, 144, 1) 13%,
    rgba(95, 128, 160, 1) 22%,
    rgba(124, 151, 177, 1) 32%,
    rgba(153, 174, 194, 1) 42%,
    rgba(188, 202, 215, 1) 54%,
    rgba(214, 223, 231, 1) 63%,
    rgba(232, 237, 241, 1) 69%,
    rgba(255, 255, 255, 1) 77%,
    rgba(255, 255, 255, 1) 87%,
    rgba(255, 255, 255, 1) 93%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(31, 78, 121, 1) 0%,
    rgba(49, 92, 132, 1) 6%,
    rgba(69, 108, 144, 1) 13%,
    rgba(95, 128, 160, 1) 22%,
    rgba(124, 151, 177, 1) 32%,
    rgba(153, 174, 194, 1) 42%,
    rgba(188, 202, 215, 1) 54%,
    rgba(214, 223, 231, 1) 63%,
    rgba(232, 237, 241, 1) 69%,
    rgba(255, 255, 255, 1) 77%,
    rgba(255, 255, 255, 1) 87%,
    rgba(255, 255, 255, 1) 93%
  );
  background: linear-gradient(
    180deg,
    rgba(31, 78, 121, 1) 0%,
    rgba(49, 92, 132, 1) 6%,
    rgba(69, 108, 144, 1) 13%,
    rgba(95, 128, 160, 1) 22%,
    rgba(124, 151, 177, 1) 32%,
    rgba(153, 174, 194, 1) 42%,
    rgba(188, 202, 215, 1) 54%,
    rgba(214, 223, 231, 1) 63%,
    rgba(232, 237, 241, 1) 69%,
    rgba(255, 255, 255, 1) 77%,
    rgba(255, 255, 255, 1) 87%,
    rgba(255, 255, 255, 1) 93%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1f4e79", endColorstr="#ffffff", GradientType=1);
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.card-title {
  font-weight: 300;
  color: #1f4e79;
}

.btn {
  font-size: 14px;
  margin-top: 20px;
}

.login-form {
  width: 34em;
  margin: 20px;
  border-radius: 10px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}

.btn-primary {
  color: #fff;
  background-color: #1f4e79;
  border-color: #4f8f6c;
}
