<div class="col-12 alerts" *ngIf="showMessage">
  <div class="alert alert-{{messageType}}">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button" (click)="showMessage = false">×</button>
    <h6><i class="icon fa fa-{{icon}}"></i> {{messageTitle}}</h6>
    {{message}}
  </div>
</div>
