<div class="start row p-0 py-2 m-0">
    <div class="col-md-12">

        <!-- START/STOP Buttons -->
        <button class="btn btn-default start-button-style btn-block" *ngIf="!isExecutionOngoing; else stopButton"
            (click)="startExecution()">
            <i class="text-success fa fa-play pr-2"></i>
            <!-- <img src="assets/actionicons/startexec.png">  -->
            Start execution
        </button>

        <ng-template #stopButton>
            <button class="btn btn-default start-button-style btn-block" (click)="stopExecution()">
                <i class="text-danger fa fa-pause pr-2"></i>
                <!-- <img src="assets/actionicons/stopexec.png">  -->
                Stop execution
            </button>
        </ng-template>
        <div *ngIf="hasError" class="text-center text-danger pt-2">
            <i>Something went wrong. Execution failed!</i>
        </div>

        <!-- STARTED DETAILS -->
        <div *ngIf="isStarted">
            <div class="container py-3">

                <!-- Sart time -->
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <b>Started:</b>
                    </div>
                    <div class="col-sm-9 text-right">
                        <label>{{startedTime|date:'dd.MM.yyyy HH:mm:ss'}}</label>
                    </div>
                </div>

                <!-- Elapsed time -->
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <b>Elapsed:</b>
                    </div>
                    <div class="col-sm-9 text-right">
                        <label>{{timedDiff}}</label>
                    </div>
                </div>

                <!-- Finish time -->
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <b>Finished:</b>
                    </div>
                    <div class="col-sm-9 text-right">
                        <label>{{endTime |date:'dd.MM.yyyy HH:mm:ss'}}</label>
                    </div>
                </div>
            </div>

            <div *ngFor="let is of startedItems">
                <!-- COMPONENTS LIST -->
                <div class="row padding" *ngIf="is.type == 'component'">
                    <div class="col-sm-4">
                        <h6>{{is.name}}</h6>

                        <small *ngIf="is.status == -1">Started</small>
                        <small *ngIf="is.status == 0">Finished</small>
                        <small *ngIf="is.status == 1">Failed</small>
                    </div>


                    <div class="col-sm-4">

                        <div class="flex-container" *ngIf="is.status == -1">
                            <div class="started-status flex-item"> </div>
                            <div class="line-progress-waiting flex-item"></div>
                        </div>

                        <div class="flex-container" *ngIf="is.status == 0">
                            <div class="success-status flex-item"> </div>
                            <div class="line-progress-waiting flex-item"></div>
                        </div>

                        <div class="flex-container" *ngIf="is.status == 1">
                            <div class="failed-status flex-item"> </div>
                            <div class="line-progress-waiting flex-item"></div>
                        </div>

                    </div>

                    <div class="col-sm-4 text-right">
                        <small>{{is.elapsed}}</small>
                        <br>
                        <small>{{is.rowsExecuted}} rows</small>
                    </div>
                </div>


                <!-- REPORTS LIST -->
                <div class="row padding" *ngIf="is.type == 'report'">
                    <div class="col-sm-4">
                        <h6> Report </h6>
                        <small *ngIf="is.status == -1">Started</small>
                        <small *ngIf="is.status == 0">Finished</small>
                        <small *ngIf="is.status == 1">Failed</small>
                    </div>


                    <div class="col-sm-4">

                        <div class="flex-container" *ngIf="is.status == -1">
                            <div class="started-status flex-item"> </div>
                            <div class="line-progress-waiting flex-item"></div>
                        </div>

                        <div class="flex-container" *ngIf="is.status == 0">
                            <div class="success-status flex-item"> </div>
                            <div class="line-progress-waiting flex-item"></div>
                        </div>

                        <div class="flex-container" *ngIf="is.status == 1">
                            <div class="failed-status flex-item"> </div>
                            Failed
                            <div class="line-progress-waiting flex-item"></div>
                        </div>

                    </div>


                    <div class="col-sm-4 text-right">
                        <i *ngIf="is.status == -1" class="fa fa-spin fa-spinner"></i>
                        <a *ngIf="is.downloadLink" href="{{is.downloadLink}}" target="_blank">{{reportService.getReportTitle(is.reportTemplateType)}} </a>
                        <br>
                        <p *ngIf="is.reportType == 0">
                            <small class="text-muted">(Excel)</small>
                            <i class="fa fa-file-excel-o pl-1"></i>
                        </p>
                        <p *ngIf="is.reportType == 1">
                            <small class="text-muted">(Pdf)</small>
                            <i class="fa fa-file-pdf-o pl-1"></i>
                        </p>
                        <p *ngIf="is.reportType == 2">
                            <small class="text-muted">(Word)</small>
                            <i class="fa fa-file-word-o pl-1"></i>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>