.start-button-style {
    border-style: solid;
    border-color: #DDDDDD;
    text-align: left;
}

.padding {
    padding: 0px;
}

.started-status {
    border-radius: 50%;
    width: 15%;
    padding-bottom: 15%;
    background: #ECAD15;
    border-width: 2px;
    border-color: #ECAD15;
}

.failed-status {
    border-radius: 50%;
    width: 15%;
    padding-bottom: 15%;
    background: #DC5436;
    border-width: 2px;
    border-color: #DC5436;
}

.success-status {
    border-radius: 50%;
    width: 15%;
    padding-bottom: 15%;
    background: #8ECC49;
    border-width: 2px;
    border-color: #8ECC49;
}

.line-progress-done {
    background-color: gray;
    width: 5px;
    border-width: 1px;
    height: 44px;
    border-color: gray;
    margin-left: 4px
}

.line-progress-waiting {
    background-color: white;
    width: 5px;
    border-width: 1px;
    height: 44px;
    border-color: white;
    margin-left: 4px
}

.parent-style {
    color: #DC5436;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }