<div class="p-3 text-center" *ngIf="!areConnectedElementsValid">
  Connected with invalid components!
  <br />
  Please re-check previous components and fill required data.
</div>

<div *ngIf="areConnectedElementsValid" class="main py-2">
  <button
    [disabled]="!areConnectedElementsValid"
    class="btn kendo-btn btn-block"
    (click)="openComparisonDialogBox()"
  >
    View Details
  </button>
  <br />
  <kendo-grid [data]="listMappings" [style.height.%]="100">
    <!-- EXPRESSION -->
    <kendo-grid-column [title]="'Expressions'">
      <ng-template kendoGridCellTemplate let-dataItem class="p-0">
        <div>
          {{ dataItem.ComparisonRuleElement.expression }}
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<kendo-dialog
  *ngIf="openedComparisonDialogBox"
  (close)="closeComparisonDialogBox()"
  title="Comparison rules"
  [minWidth]="400"
  class="largeDialogBox"
>
  <div>
    <!-- ADD NEW COMPARE ITEM DETAIL - COMPONENT -->
    <app-comparison-rule-item
      *ngIf="!readOnly"
      (ruleAdded)="ruleAdded($event)"
      [_legacyColumns]="listLegacyColumns"
      [_targetColumns]="listTargetColumns"
      [_mathOperators]="listMathFunctions"
      [_compareOperators]="listCompareFunctions"
    >
    </app-comparison-rule-item>

    <div class="col-md-12 pt-3">
      <!-- MAPPING LIST -->
      <kendo-grid [data]="listMappings" [style.height.%]="100">
        <!-- SHOW DIFFERENCE -->
        <kendo-grid-column
          [title]="'Show Differences'"
          class="text-center"
          [headerStyle]="{ width: '15%' }"
          [style]="{ width: '15%' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem class="text-center">
            <label class="k-form-field right">
              <input
                [disabled]="!isEnabledShowDifferenceCheckBox(dataItem)"
                type="checkbox"
                id="{{ dataItem.__tempId }}"
                class="k-checkbox"
                [(ngModel)]="dataItem.ShowDifference"
                (change)="
                  checkShowDifferenceValue(
                    dataItem.__tempId,
                    dataItem.ShowDifference
                  )
                "
              />
              <label
                class="k-checkbox-label"
                for="{{ dataItem.__tempId }}"
              ></label>
            </label>
          </ng-template>
        </kendo-grid-column>
        <!-- Tolerance value-->
        <kendo-grid-column
          [title]="'Tolerance value'"
          class="text-center"
          [headerStyle]="{ width: '25%' }"
          [style]="{ width: '25%' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem class="text-center">
            <kendo-numerictextbox
              [autoCorrect]="true"
              [min]="0"
              [disabled]="readOnly || !dataItem.ShowDifference"
              id="{{ dataItem.__tempId }}"
              [(ngModel)]="dataItem.toleranceValue"
            ></kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>
        <!--/Tolerance value-->
        <!-- EXPRESSION -->
        <kendo-grid-column [title]="'Expression'">
          <ng-template kendoGridCellTemplate let-dataItem class="p-0">
            <div>
              {{ dataItem.ComparisonRuleElement.expression }}
            </div>
          </ng-template>
        </kendo-grid-column>

        <!-- DELETE FUNCTION -->
        <kendo-grid-column
          *ngIf="!readOnly"
          [title]="'Remove'"
          class="text-center"
          [headerStyle]="{ width: '10%' }"
          [style]="{ width: '10%' }"
        >
          <ng-template kendoGridCellTemplate let-dataItem class="text-center">
            <button
              kendoButton
              [icon]="'trash'"
              (click)="removeItem(dataItem.__tempId)"
            ></button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>

  <kendo-dialog-actions *ngIf="!readOnly">
    <button
      kendoButton
      [disabled]="listMappings.length == 0"
      (click)="saveComparisonComponent()"
      [icon]="'save'"
      class="btn-icon"
    >
      <span *ngIf="listMappings.length > 0"> Save Comparison </span>
      <span *ngIf="listMappings.length == 0">
        Add compare rules before saving
      </span>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
