<div class="main">
  <div class="container">
    <!-- Title -->
    <div class="form-group row">
      <div class="col-md-12">
        <div class="panelTitle">
          <h6>Data Source</h6>
        </div>
      </div>
    </div>
    <!-- Title -->
    <div class="form-group row">
      <!-- File type -->
      <div class="col-md-6">
        <label class="label-control">Types: </label>
        <kendo-combobox
          [data]="dataSourceFileTypes"
          [textField]="'value'"
          [valueField]="'key'"
          [(ngModel)]="editingDataSourceItem.dataSourceType"
          class="form-control"
          [readonly]="readOnly"
          (ngModelChange)="onInputFieldChange($event)"
        >
        </kendo-combobox>
      </div>
      <div class="col-md-6">
        <label class="label-control" [for]="'dataSourceName'">Name: </label>
        <input
          id="dataSourceName"
          kendoTextBox
          class="form-control"
          [(ngModel)]="editingDataSourceItem.name"
          [readonly]="readOnly"
          (ngModelChange)="onInputFieldChange($event)"
        />
      </div>
      <!-- File Type -->
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label" [for]="'dataFileSeparator'"
        >Separator:
      </label>
      <div class="col-md-8">
        <input
          id="dataFileSeparator"
          kendoTextBox
          class="form-control"
          [(ngModel)]="editingDataSourceItem.dataFileSeparator"
          [readonly]="readOnly"
          (ngModelChange)="onInputFieldChange($event)"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-12  k-form-field right">
        <input
          type="checkbox"
          id="dataFileHaveHeaders"
          class="k-checkbox"
          [(ngModel)]="editingDataSourceItem.dataFileHaveHeaders"
        />
        <label class="k-checkbox-label" for="dataFileHaveHeaders"
          >Has headers?</label
        >
      </label>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group row">
          <!-- Chose File Option -->
          <div class="col-md-12">
            <app-upload-data-file
              (dataFileItem)="addDataFileItem($event)"
              [dataFileSeparator]="editingDataSourceItem.dataFileSeparator"
              [dataFileHaveHeaders]="editingDataSourceItem.dataFileHaveHeaders"
              [readOnly]="readOnly"
            ></app-upload-data-file>
          </div>
          <!-- Chose File Option -->
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <kendo-grid
              [data]="editingDataSourceItem.dataSourceFiles"
              (remove)="removeFileUploadedHandler($event)"
            >
              <kendo-grid-column field="fileName" title="File name">
              </kendo-grid-column>
              <kendo-grid-column
                field="separator"
                title="Sep"
                [headerStyle]="{ width: '60px' }"
                [style]="{ width: '60px' }"
              >
              </kendo-grid-column>
              <kendo-grid-column
                field="haveHeaders"
                title="Headers"
                [headerStyle]="{ width: '60px' }"
                [style]="{ width: '60px' }"
              >
              </kendo-grid-column>
              <kendo-grid-column
                field=""
                [headerStyle]="{ width: '60px' }"
                [style]="{ width: '60px' }"
              >
                <ng-template kendoGridCellTemplate>
                  <button
                    kendoGridRemoveCommand
                    [disabled]="readOnly"
                    look="flat"
                  >
                    <i
                      class="fa fa-times-circle-o fa-lg"
                      aria-hidden="true"
                    ></i>
                  </button>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
          </div>
        </div>
      </div>
      <!-- Identifier -->
      <div class="form-group row" *ngIf="listDataSourceIdentifier.length > 0">
        <label class="col-sm-4 col-form-label">Identifier: </label>
        <div class="col-xs-8 col-sm-8 col-md-8 ">
          <div class="input-group">
            <kendo-combobox
              class="form-control"
              [data]="listDataSourceIdentifier"
              [textField]="'name'"
              [valueField]="'id'"
              [(ngModel)]="cmbSelectedIdentifier"
              [allowCustom]="false"
              [readonly]="readOnly"
            >
            </kendo-combobox>
            <div class="input-group-append">
              <button
                kendoButton
                (click)="addDataSourceIdentifier()"
                [icon]="'plus'"
                [disabled]="readOnly"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <kendo-grid
            [kendoGridBinding]="editingDataSourceItem.dataSourceIdentifiers"
            (remove)="removeDataSourceIdentifier($event)"
          >
            <kendo-grid-column title="Identifier">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div>
                  {{ dataItem.name }}
                </div>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field=""
              [headerStyle]="{ width: '60px' }"
              [style]="{ width: '60px' }"
            >
              <ng-template kendoGridCellTemplate>
                <button
                  kendoGridRemoveCommand
                  [disabled]="readOnly"
                  look="flat"
                >
                  <i class="fa fa-times-circle-o fa-lg" aria-hidden="true"></i>
                </button>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <div class="input-group">
            <button
              kendoButton
              (click)="saveConfiguredDataSource()"
              class="btn btn-primary"
              [icon]="'save'"
              [disabled]="
                readOnly || savedStatus == componentSavedStatus.Saving
              "
            >
              <span
                *ngIf="
                  savedStatus == componentSavedStatus.UnSavedChanges ||
                  savedStatus == componentSavedStatus.Saved
                "
              >
                Save Data Source</span
              >
              <span *ngIf="savedStatus == componentSavedStatus.Saving">
                Saving Data Source...</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
