.grid-column-enabled {
  color: #4f8f6c !important;
  cursor: pointer;
}

.kendo-grid-container {
  max-height: 30vh;
}
kendo-grid .k-grid-content {
  height: calc(100% - 46px);
}
.kendo-btn {
  background-color: #4f8f6c !important;
  color: white !important;
  font-weight: 500;
  box-shadow: none !important;
}
::ng-deep.kendo-btn:hover {
  background-image: none;
  background-color: #656565 !important;
}
