<div class="row p-5">
  <div class="col-md-4">
    <kendo-grid [kendoGridBinding]="dataSourceColumns" [scrollable]="true">
      <kendo-grid-column [title]="'Choose columns'">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div (click)="insertElement(dataItem, typeOfItem.Column)">
            {{ dataItem.name }}
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <!--Operators-->
  <div class="col-md-4">
    <p class="text-center">Operator</p>
    <div class="row m-0 p-0">
      <button
        class="btn kendo-btn col ml-1 mr-1"
        *ngFor="let o of arithmeticOperator"
        (click)="insertElement(o, typeOfItem.Operator)"
      >
        {{ o.value }}
      </button>
    </div>
    <div class="row m-0 p-0">
      <button
        class="btn kendo-btn col ml-1 mr-1 mt-1"
        *ngFor="let o of comparisonOperator"
        (click)="insertElement(o, typeOfItem.Operator)"
      >
        {{ o.value }}
      </button>
    </div>
    <div class="row m-0 p-0">
      <button
        class="btn kendo-btn col ml-1 mr-1 mt-1"
        *ngFor="let o of bracketOperator"
        (click)="insertElement(o, typeOfItem.Operator)"
      >
        {{ o.value }}
      </button>
    </div>
    <div class="row m-0 p-0">
      <button
        class="btn kendo-btn col ml-1 mr-1 mt-1"
        *ngFor="let o of logicalOperator"
        (click)="insertElement(o, typeOfItem.Operator)"
      >
        {{ o.value }}
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <label class="label-control" [for]="'dataSourceName'">Filter value: </label>
    <div class="input-group">
      <input
        id="dataSourceName"
        kendoTextBox
        class="form-control"
        [(ngModel)]="filterFreeText"
      />
      <div class="input-group-append">
        <button
          kendoButton
          [icon]="'plus'"
          [disabled]="filterFreeText.length == 0"
          (click)="insertElement(filterFreeText, typeOfItem.InputText)"
        ></button>
      </div>
    </div>
  </div>
</div>

<!-- REAL-TIME EXPRESSION VIEWER -->
<div class="col-md-12">
  <p class="text-center font-italic" *ngIf="!isEmptyOrValidFilterExpression">
    <span class="text-danger">
      The rule is not valid. Please check
    </span>
  </p>
</div>
<div class="row bg-light border py-2 mb-2 text-center">
  <div class="col-md-1">
    <button
      kendoButton
      [primary]="true"
      [icon]="'apply-format'"
      class="mr-2"
      (click)="removeElements(0)"
    ></button>
  </div>
  <div class="col-md-10">
    <b class="px-3">
      <span
        [ngClass]="{ true: '', false: 'text-danger' }[isValidFilterExpression]"
      >
        {{ editExpression }}
      </span>
    </b>
  </div>
  <div class="col-md-1">
    <button
      kendoButton
      [primary]="true"
      [icon]="'apply-format'"
      class="ml-2"
      (click)="removeElements(1)"
    ></button>
  </div>
</div>

<!-- ADD RULE -->
<div class="row">
  <div class="col-md-4 offset-4">
    <Button
      class="btn kendo-btn btn-block"
      (click)="addFilter()"
      [disabled]="!isValidFilterExpression"
    >
      Add Filter
    </Button>
  </div>
</div>
