<kendo-dialog width="600" height="200" title="Delete item" (close)="close()">
  <div class="row">
    <div class="col-12">
      <span class="description">
        Are you sure you want to delete item?
      </span>
    </div>
  </div>
  <kendo-dialog-actions>
    <div class="row">
      <div class="col-12 action-buttons">
        <button class="k-button cancel-button" (click)="close()">No</button>
        <button class="k-button k-primary submit-button" (click)="deleteItem()">
          Yes
        </button>
      </div>
    </div>
  </kendo-dialog-actions>
</kendo-dialog>
