<form class="form-horizontal" [formGroup]="transformationElementForm" novalidate>
  <div class=" form-group row">
    <label class="col-md-3 col-form-label">
      Key field:
    </label>
    <div class="col-md-9">
      <kendo-combobox class="form-control" [data]="editTransformationElement.listKeyField" [textField]="'name'"
        [valueField]="'id'" [(ngModel)]="editTransformationElement.key" [allowCustom]="false" formControlName="key">
      </kendo-combobox>
      <app-field-error-display *ngIf="submittedForm" [inputControl]="transformationElementForm.controls.key">
      </app-field-error-display>
    </div>
  </div>
  <div class=" form-group row">
    <label class="col-md-3 col-form-label">Functions:</label>
    <div class="col-md-9">
      <kendo-combobox class="form-control" [data]="listFunctions" [(ngModel)]="editTransformationElement.transformationFunction"
        formControlName="functions">
      </kendo-combobox>
      <app-field-error-display *ngIf="submittedForm" [inputControl]="transformationElementForm.controls.functions">
      </app-field-error-display>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label" [for]="'mappingFileSeparator'">Separator:
    </label>
    <div class="col-md-8">
      <input id="mappingFileSeparator" kendoTextBox class="form-control" [(ngModel)]="editTransformationElement.separator"
        [readonly]="readOnly" formControlName="mappingFileSeparator" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <app-upload-mapping-file (mappingFileItem)="addMappingFileItem($event)" [initialUploadedFiles]="editTransformationElement.uploadedFilesInfo"
        [parentForm]="transformationElementForm" [uploadFormControlName]="'filesUploaded'" [mappingFileSeparator]="editTransformationElement.separator"
        #uploadDataFileComp></app-upload-mapping-file>
      <app-field-error-display *ngIf="submittedForm" [inputControl]="transformationElementForm.controls.filesUploaded">
      </app-field-error-display>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-12">
      <div class="input-group">
        <button *ngIf="!isEditForm" kendoButton (click)="addConfiguredTransformation()" class="btn btn-primary" type="button"
          [icon]="'plus'" [disabled]="readOnly">
          Add transformation
        </button>

        <button *ngIf="isEditForm" kendoButton (click)="cancelConfiguredTransformation()" class="btn form-control" type="button"
          [icon]="'cancel'" [disabled]="readOnly">
          Cancel
        </button>
        <button *ngIf="isEditForm" kendoButton (click)="editConfiguredTransformation()" class="btn btn-primary form-control"
          type="button" [icon]="'save'" [disabled]="readOnly">
          Save
        </button>
      </div>
    </div>
  </div>
</form>