<app-navbar></app-navbar>
<div class="pane-content">
  <div class="container-fluid">
    <div class="mt-4">
      <div class="form-row ">
        <div class="col-md-2">
          <label class="label-control filterLabel" [for]="'pipelineName'"
            >Pipeline name:
          </label>
          <input
            id="pipelineName"
            kendoTextBox
            class="form-control searchInput"
            [(ngModel)]="filter.pipelineName"
          />
        </div>
        <div class="col-md-2">
          <label class="label-control filterLabel " [for]="'startTime'"
            >From time:
          </label>
          <kendo-datepicker
            placeholder="dd/mm/yyyy"
            id="startTime "
            [format]="dateFormat"
            class="form-control searchInput"
            [(value)]="filter.startTime"
          ></kendo-datepicker>
        </div>
        <div class="col-md-2">
          <label class="label-control filterLabel" [for]="'endTime'"
            >To time:
          </label>
          <kendo-datepicker
            placeholder="dd/mm/yyyy"
            id="endTime "
            [format]="dateFormat"
            class="form-control searchInput"
            [(value)]="filter.endTime"
          ></kendo-datepicker>
        </div>
        <div class="col-md-1 filterButtons">
          <button
            kendoButton
            (click)="setSearchFilter()"
            class="form-control btn  searchInput"
          >
            Apply filters
          </button>
        </div>
        <div class="col-md-1 filterButtons">
          <button
            kendoButton
            class="form-control btn searchInput"
            (click)="resetSearchField()"
          >
            Reset
          </button>
        </div>
      </div>
      <div class="mt-4 form-row">
        <div class="col-xs-9 col-md-9">
          <kendo-grid
            [data]="executedPipelines"
            [pageSize]="configuredFilter.take"
            [skip]="configuredFilter.skip"
            [pageable]="{
              pageSizes: [5, 10, 20, 50, 100, 200, 500]
            }"
            [sortable]="false"
            [pageable]="true"
            [scrollable]="'scrollable'"
            (dataStateChange)="executedPipelinesDataStateChange($event)"
          >
            <kendo-grid-column
              title="Nr"
              width="4%"
              [headerClass]="'boldColumnHeader'"
            >
              <ng-template
                kendoGridCellTemplate
                let-dataItem
                let-rowIndex="rowIndex"
              >
                {{ rowIndex + 1 }}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
              field="pipelineName"
              title="Pipeline"
              width="30%"
              [headerClass]="'boldColumnHeader'"
            ></kendo-grid-column>
            <kendo-grid-column
              field="status"
              title="Status"
              width="10%"
              [headerClass]="'boldColumnHeader'"
              ><ng-template kendoGridCellTemplate let-dataItem>
                <img
                  src="../../../../assets/executedPipelineIcons/{{
                    dataItem.status ? 'check.png' : 'wrong-icon.png'
                  }}"
                  alt=""
                  class="viewIcon"
                /> </ng-template
            ></kendo-grid-column>
            <kendo-grid-column
              field="startTime"
              field="startTime"
              title="Start time"
              width="23%"
              [headerClass]="'boldColumnHeader'"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.startTime | date: dateTimeFormat }}
              </ng-template></kendo-grid-column
            >
            <kendo-grid-column
              field="endTime"
              title="End time"
              width="23%"
              [headerClass]="'boldColumnHeader'"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.endTime | date: dateTimeFormat }}
              </ng-template></kendo-grid-column
            >
            <kendo-grid-column
              field="reports"
              title="Details"
              width="10%"
              [headerClass]="'boldColumnHeader'"
            >
              <ng-template kendoGridCellTemplate let-dataItem>
                <button
                  kendoButton
                  (click)="openReportsWindow(dataItem)"
                  class="reportButton"
                >
                  <img
                    src="../../../../assets/executedPipelineIcons/view.svg"
                    alt=""
                    class="view"
                  />
                </button>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
        <div class="col-xs-3 col-md-3">
          <div class="overflow-auto customCharts">
            <app-executed-status-chart
              [executedPipelinesData]="
                executedPipelines ? executedPipelines.data : []
              "
            ></app-executed-status-chart>
            <div class="mt-5">
              <app-executed-status-with-filter-chart
                [executedPipelinesData]="
                  executedPipelines ? executedPipelines.data : []
                "
              ></app-executed-status-with-filter-chart>
            </div>
          </div>
          <label class="label-control  notificationLabel"
            >**The data are calculated as per the filters, displayed records
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<kendo-dialog
  title="List of reports {{ openedExecutedPipelineItem.pipelineName }}"
  *ngIf="openedReportsWindow"
  (close)="closeReportsWindow()"
  [minWidth]="300"
  [width]="1000"
  [height]="800"
>
  <app-executed-pipeline-details
    [executedPipelineItem]="openedExecutedPipelineItem"
  ></app-executed-pipeline-details>
</kendo-dialog>
