.filterButtons {
  margin-top: auto !important;
  margin-bottom: 4px !important;
}

.searchInput {
  border-radius: 0.25rem !important;
}
kendo-grid {
  height: 78vh;
  margin-bottom: 1em !important;
}
.customCharts {
  height: 70vh;
  overflow-y: visible;
}

.filterLabel {
  color: #656565;
  font-weight: bold;
}
.notificationLabel {
  color: #656565;
  font-style: italic;
  font-size: 0.8rem;
}
.view {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
}
.viewIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23px;
}
.reportButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
}
