<div class="search-pipeline">
  <div class="row form-group ">
    <div class="col-md-2 col-sm-2 nopadding">
      <button class="" class="form-control" kendoButton (click)="collapseAll()">
        <i class="fa fa-compress" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-10 col-sm-10 nopadding">
      <input
        class="form-control"
        aria-label="Search"
        [(ngModel)]="searchTerm"
        (keyup)="searchTreeView()"
        placeholder="Search"
      />
    </div>
  </div>
</div>

<kendo-treeview
  #treeview
  [nodes]="data"
  id="workflowTreeview"
  textField="text"
  kendoTreeViewExpandable
  [kendoTreeViewSelectable]="!editModeState"
  kendoTreeViewHierarchyBinding
  [children]="fetchChildren"
  [hasChildren]="hasChildren"
  (selectionChange)="handleSelection($event)"
  [selectBy]="'id'"
  [(selectedKeys)]="selectedKeys"
  [(expandedKeys)]="expandedKeys"
  [expandBy]="'id'"
>
  <ng-template kendoTreeViewNodeTemplate let-dataItem>
    <div [id]="dataItem.id">
      <span [ngClass]="iconClass(dataItem)"></span>
      <span class="treeview-item">{{ dataItem.text }}</span>
    </div>
  </ng-template>
</kendo-treeview>
