.search-pipeline {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 95%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.nopadding {
  padding-left: 1px;
  padding-right: 0px;
}
