<div class="col-md-4">
  <button
    kendoButton
    class="btn btn-primary form-control"
    [icon]="'add'"
    (click)="addAutomaticRule()"
  >
    Add automatic rule
  </button>
</div>
<div class="row p-5">
  <!-- LEGACY COLUMNS -->
  <div class="col-md-4 p-0 kendo-grid-container">
    <kendo-grid [kendoGridBinding]="_legacyColumns" [scrollable]="true">
      <kendo-grid-column [title]="'Choose columns from legacy file'">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div
            *ngIf="dataSourceColumnIsEnabled(dataItem, dataSourceType.Legacy)"
            class="grid-column-enabled"
            (click)="insertElement(dataItem, 1, 1)"
          >
            {{ dataItem.__columnName }}
          </div>
          <div
            *ngIf="!dataSourceColumnIsEnabled(dataItem, dataSourceType.Legacy)"
          >
            <i class="mr-2 fa fa-ban" aria-hidden="true"></i>
            {{ dataItem.__columnName }}
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <div class="row m-0 p-0">
      <button
        [disabled]="!mathOperatorAreEnabled(dataSourceType.Legacy)"
        class="btn kendo-btn col rounded-0"
        *ngFor="let o of _mathOperators"
        (click)="insertElement(o, 2, 1)"
      >
        {{ o.value }}
      </button>
    </div>
  </div>

  <!-- COMPARE OPERATORS -->
  <div class="col-md-4">
    <p class="text-center"><b>Compare Operation</b></p>
    <kendo-dropdownlist
      [data]="_compareOperators"
      (selectionChange)="compareOperatorChanged($event)"
      [textField]="'value'"
      [valueField]="'key'"
    ></kendo-dropdownlist>
  </div>

  <!-- TARGET COLUMNS -->
  <div class="col-md-4 p-0 kendo-grid-container">
    <kendo-grid [kendoGridBinding]="_targetColumns" [scrollable]="true">
      <kendo-grid-column [title]="'Choose columns from target file'">
        <ng-template kendoGridCellTemplate let-dataItem class="p-0">
          <div
            *ngIf="dataSourceColumnIsEnabled(dataItem, dataSourceType.Target)"
            class="grid-column-enabled"
            (click)="insertElement(dataItem, 1, 2)"
          >
            {{ dataItem.__columnName }}
          </div>
          <div
            *ngIf="!dataSourceColumnIsEnabled(dataItem, dataSourceType.Target)"
          >
            <i class="mr-2 fa fa-ban" aria-hidden="true"></i>
            {{ dataItem.__columnName }}
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
    <div class="row m-0 p-0">
      <button
        [disabled]="!mathOperatorAreEnabled(dataSourceType.Target)"
        class="btn kendo-btn col rounded-0"
        *ngFor="let o of _mathOperators"
        (click)="insertElement(o, 2, 2)"
      >
        {{ o.value }}
      </button>
    </div>
  </div>
</div>

<!-- REAL-TIME EXPRESSION VIEWER -->
<div
  *ngIf="legacyExpression || targetExpression || tree.value"
  class="row bg-light border py-2 mb-2 text-center"
>
  <div class="col-md-1">
    <button
      *ngIf="legacyExpression"
      kendoButton
      [primary]="true"
      [icon]="'apply-format'"
      class="mr-2"
      (click)="clearElements(1)"
    ></button>
  </div>
  <div class="col-md-10">
    <i [ngClass]="{ 'text-danger': legacyLastItem == 2 }">
      {{ legacyExpression }}
    </i>
    <b class="px-3" *ngIf="tree && tree.value">
      {{ tree.expression }}
    </b>
    <i [ngClass]="{ 'text-danger': targetLastItem == 2 }">
      {{ targetExpression }}
    </i>
  </div>
  <div class="col-md-1">
    <button
      *ngIf="targetExpression"
      kendoButton
      [primary]="true"
      [icon]="'apply-format'"
      class="ml-2"
      (click)="clearElements(2)"
    ></button>
  </div>
</div>

<!-- ADD RULE -->
<div class="row">
  <div class="col-md-4 offset-4">
    <Button
      [disabled]="!isValidExpression"
      class="btn kendo-btn btn-block"
      (click)="addRule()"
    >
      Add Rule
    </Button>
  </div>
</div>
