.grid-column-enabled {
  cursor: pointer;
}

.kendo-grid-container {
  max-height: 30vh;
}

kendo-grid {
  height: calc(100% - 3em);
  margin-top: 3em;
}
kendo-grid .k-grid-content {
  height: calc(100% - 46px);
}
