<div class="main">
  <div class="container">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="panelTitle">
          <h6>Transformation</h6>
        </div>
      </div>
    </div>
    <div class="form-group  row">
      <label class="col-md-3 col-form-label">Data Source:</label>
      <div class="col-md-9 ">
        <div class="input-group">
          <input
            kendoTextBox
            class="form-control"
            type="text"
            [readonly]="true"
            [(ngModel)]="prevConnectedDataSourceItem.name"
          />
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" [for]="'transformationNameId'"
        >Name:
      </label>

      <div class="col-md-9">
        <input
          kendoTextBox
          class="form-control"
          type="text"
          id="transformationNameId"
          [(ngModel)]="editTransformationItem.name"
          [readonly]="readOnly"
          (ngModelChange)="onInputFieldChange($event)"
        />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="input-group">
          <button
            kendoButton
            class="btn btn-primary"
            (click)="openTransformationFilterDialogBox()"
          >
            <span class="k-icon k-i-filter"></span>
            {{ readOnly == true ? "View filters" : "Set filters" }}
            ({{ editTransformationItem.transformationFiltersData.length }}
            {{
              editTransformationItem.transformationFiltersData.length > 1
                ? "filters"
                : "filter"
            }}
            added)
          </button>
        </div>
      </div>
    </div>
    <!-- </div> -->

    <app-transformation-cu-form
      [graphCellss]="graphCellss"
      (addTransformationElement)="addNewEditTransformationElement($event)"
      [isEditForm]="false"
      [editTransformationElement]="editTransformationElement"
      [componentId]="workflowItem.id"
      [transformationFunctionNames]="transformationFunctionNames"
      [readOnly]="readOnly"
      #transformationCuFormComp
    ></app-transformation-cu-form>

    <div class="form-group row">
      <div class="col-md-12">
        <kendo-grid [data]="listTransformation">
          <kendo-grid-column field="key.name" title="Key"> </kendo-grid-column>
          <kendo-grid-column field="transformationFunction" title="Function">
          </kendo-grid-column>
          <kendo-grid-column field="fileName" title="Mapping file">
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <button
          kendoButton
          *ngIf="!openedDetailsPopup"
          (click)="openDetailsPopup()"
        >
          More Details
        </button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="input-group">
          <button
            kendoButton
            (click)="saveConfiguredTransformation()"
            class="btn btn-primary"
            [icon]="'save'"
            [disabled]="readOnly"
          >
            Save Transformation
          </button>
        </div>
      </div>
    </div>
    <kendo-dialog
      title="Transformation Component - More Details"
      *ngIf="openedDetailsPopup"
      (close)="closeDetailsPopup()"
      [minWidth]="300"
      height="400"
    >
      <div class="k-form">
        <div class="container">
          <div class="form-group row">
            <div class="col-md-12">
              <kendo-grid
                [data]="listTransformation"
                (edit)="editTranformationElementHandler($event)"
                (remove)="removeTranformationElementHandler($event)"
              >
                <kendo-grid-column field="key.name" title="Key Field">
                </kendo-grid-column>
                <kendo-grid-column
                  field="transformationFunction"
                  title="Function"
                >
                </kendo-grid-column>
                <kendo-grid-column field="separator" title="Separator">
                </kendo-grid-column>
                <kendo-grid-column field="fileName" title="Mapping file">
                </kendo-grid-column>

                <kendo-grid-column field="" title="Edit/Delete">
                  <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand [disabled]="readOnly">
                      Edit
                    </button>
                    <button
                      kendoGridRemoveCommand
                      [primary]="true"
                      [disabled]="readOnly"
                    >
                      Delete
                    </button>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </kendo-dialog>
    <kendo-dialog
      title="Edit transformation"
      *ngIf="openedEditTransformationPopup"
      (close)="closeEditTransformationPopup()"
      [minWidth]="400"
      [height]="400"
    >
      <app-transformation-cu-form
        [graphCellss]="graphCellss"
        (saveEditTransformationElement)="saveEditTransformationElement($event)"
        (cancelEditTransformationElement)="
          cancelEditConfiguredTransformation($event)
        "
        [isEditForm]="true"
        [editTransformationElement]="editTransformationElement"
        [componentId]="workflowItem.id"
        [transformationFunctionNames]="transformationFunctionNames"
        [readOnly]="readOnly"
      ></app-transformation-cu-form>
    </kendo-dialog>
    <kendo-dialog
      *ngIf="openedTransformationFilterDialogBox"
      (close)="closeTransformationFilterDialogBox()"
      title="Filters"
      [minWidth]="400"
      class="largeDialogBox"
    >
      <app-transformation-filter-item
        *ngIf="!readOnly"
        (filterAdded)="filterAdded($event)"
        [dataSourceColumns]="dataSourceItemColumns"
      ></app-transformation-filter-item>
      <div class="col-md-12 pt-3">
        <!-- FILTER LIST -->
        <kendo-grid
          [data]="editTransformationItem.transformationFiltersData"
          [style.height.%]="100"
        >
          <!-- EXPRESSION -->
          <kendo-grid-column [title]="'Filter'">
            <ng-template kendoGridCellTemplate let-dataItem class="p-0">
              <div>
                {{ dataItem.filterNodeElement.expression }}
              </div>
            </ng-template>
          </kendo-grid-column>

          <!-- DELETE FUNCTION -->
          <kendo-grid-column
            *ngIf="!readOnly"
            [title]="'Remove'"
            class="text-center"
            [headerStyle]="{ width: '10%' }"
            [style]="{ width: '10%' }"
          >
            <ng-template kendoGridCellTemplate let-dataItem class="text-center">
              <button
                kendoButton
                [icon]="'trash'"
                (click)="removeFilterItem(dataItem._tempId)"
              ></button>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
      <kendo-dialog-actions *ngIf="!readOnly">
        <button
          kendoButton
          [disabled]="readOnly"
          (click)="saveFilters()"
          [icon]="'save'"
          class="btn-icon"
        >
          <span>
            Save Filters
          </span>
        </button>
      </kendo-dialog-actions>
    </kendo-dialog>
  </div>
</div>
