<div style="display: block">
  <p class="boldText">Pipeline execution status in totals</p>
  <div class="chart">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [legend]="pieChartLegend"
    >
    </canvas>
  </div>
</div>
