<div class="row">
  <div class="col-xs-8 col-md-8 leftPanel">
    <div class="main">
      <div id="app" class="joint-app joint-theme-modern stylesForPopUp">
        <div class="app-header" style="display: none">
          <div class="toolbar-container"></div>
        </div>
        <div class="stencil-container " style="display: none"></div>
        <div class="paper-container "></div>
        <div class="navigator-container"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-4 col-md-4 rightPanel">
    <kendo-grid [data]="executedPipelineItem.reports">
      <kendo-grid-column
        width="130"
        title="{{
          executedPipelineItem.reports.length > 0 ? 'Donwload reports' : ''
        }}"
        [headerClass]="'boldColumnHeader'"
        ><ng-template kendoGridCellTemplate let-dataItem>
          <button
            class="linkButton"
            (click)="
              downloadReport(dataItem.id, executedPipelineItem.pipelineId)
            "
          >
            <span *ngIf="dataItem.reportType == reportType.Excel">
              <span class="k-icon k-i-excel"></span>
               {{reportService.getReportTitle(dataItem.reportTemplateType)}}
            </span>
            <span *ngIf="dataItem.reportType == reportType.Pdf">
              <span class="k-icon k-i-file-pdf"></span>
               {{reportService.getReportTitle(dataItem.reportTemplateType)}}
            </span>
            <span *ngIf="dataItem.reportType == reportType.Word">
              <span class="k-icon k-i-word"></span>
               {{reportService.getReportTitle(dataItem.reportTemplateType)}}
            </span>
          </button>
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoGridNoRecordsTemplate>
        No generated reports available
      </ng-template>
    </kendo-grid>
    <div class="container py-3">
      <!-- Sart time -->
      <div class="row">
        <div class="col-sm-3 text-left">
          <b>Started:</b>
        </div>
        <div class="col-sm-9 text-right">
          <label>{{
            executedPipelineItem.startTime | date: "dd.MM.yyyy HH:mm:ss"
          }}</label>
        </div>
      </div>
      <!-- Elapsed time -->
      <div class="row">
        <div class="col-sm-3 text-left">
          <b>Elapsed:</b>
        </div>
        <div class="col-sm-9 text-right">
          <label>{{
            getTimeSpan(
              executedPipelineItem.startTime,
              executedPipelineItem.endTime
            )
          }}</label>
        </div>
      </div>
      <!-- Finish time -->
      <div class="row">
        <div class="col-sm-3 text-left">
          <b>Finished:</b>
        </div>
        <div class="col-sm-9 text-right">
          <label>{{
            executedPipelineItem.endTime | date: "dd.MM.yyyy HH:mm:ss"
          }}</label>
        </div>
      </div>
    </div>
    <!-- Component list -->
    <div *ngFor="let comp of executedPipelineItem.pipelineItemExecutionDetails">
      <!-- COMPONENTS LIST -->
      <div class="row padding">
        <div class="col-sm-4">
          <b>{{ comp.componentName }} </b>
          <br />
          <small *ngIf="comp.pipelineItemExecutionStatus == -1">Started</small>
          <small *ngIf="comp.pipelineItemExecutionStatus == 0">Finished</small>
          <small *ngIf="comp.pipelineItemExecutionStatus == 1">Failed</small>
        </div>
        <div class="col-sm-4">
          <div
            class="flex-container"
            *ngIf="comp.pipelineItemExecutionStatus == -1"
          >
            <div class="started-status flex-item"></div>
            <div class="line-progress-waiting flex-item"></div>
          </div>
          <div
            class="flex-container"
            *ngIf="comp.pipelineItemExecutionStatus == 0"
          >
            <div class="success-status flex-item"></div>
            <div class="line-progress-waiting flex-item"></div>
          </div>
          <div
            class="flex-container"
            *ngIf="comp.pipelineItemExecutionStatus == 1"
          >
            <div class="failed-status flex-item"></div>
            <div class="line-progress-waiting flex-item"></div>
          </div>
        </div>
        <div class="col-sm-4 text-right"></div>
      </div>
    </div>
  </div>
</div>
