.linkButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.leftPanel {
  position: absolute;
  height: 96%;
}

.rightPanel {
  position: absolute;
  height: 96%;
  right: 0;
  overflow-y: scroll;
  background-color: rgb(246, 246, 246);
}

.stylesForPopUp {
  position: absolute;
  width: 100%;
  left: 0;
  height: 97%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.paper-container {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  left: 0%;
  right: 0;
  width: 100%;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 1620px) {
  .app-body {
    position: relative;
    height: calc(100% - 60px);
    top: 6%;
  }
  .joint-app.joint-theme-modern .toolbar-container {
    overflow-y: auto;
    height: 125%;
    background-color: #f6f6f6;
  }
  .joint-app.joint-theme-modern .app-body {
    height: calc(100% - 92px);
    top: 7.5%;
  }
}

::ng-deep.joint-navigator.joint-theme-modern {
  position: relative;
  bottom: 1em;
  right: 1em;
  border-radius: 10px;
  border-width: 5px;
}

.padding {
  padding: 0px;
}

.started-status {
  border-radius: 50%;
  width: 15%;
  padding-bottom: 15%;
  background: #ecad15;
  border-width: 2px;
  border-color: #ecad15;
}

.failed-status {
  border-radius: 50%;
  width: 15%;
  padding-bottom: 15%;
  background: #dc5436;
  border-width: 2px;
  border-color: #dc5436;
}

.success-status {
  border-radius: 50%;
  width: 15%;
  padding-bottom: 15%;
  background: #28a745;
  border-width: 2px;
  border-color: #28a745;
}

.line-progress-waiting {
  background-color: white;
  width: 5px;
  border-width: 1px;
  height: 44px;
  border-color: white;
  margin-left: 4px;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
