/* Kendo CSS */

::ng-deep.k-upload-button {
  background-image: none;
  color: white;
  background-color: #4f8f6c;
}

::ng-deep.k-button-icon {
  width: 100%;
  height: 100%;
}

label {
  display: inline;
}
