<div class="main">
  <div class="container">
    <!-- Title -->
    <div class="form-group row">
      <div class="col-md-12">
        <div class="panelTitle">
          <h6>Aggregation</h6>
        </div>
      </div>
    </div>
    <div
      class="form-group row"
      *ngIf="prevConnectedTransformationItems.length > 0"
    >
      <label class="col-md-3 col-form-label" [for]="'dataSourceName'"
        >Transforma tion:
      </label>
      <div class="col-md-9 ">
        <label *ngFor="let value of prevConnectedTransformationItems">
          <input
            kendoTextBox
            class="form-control"
            type="text"
            [readonly]="true"
            [(ngModel)]="value.name"
          />
        </label>
      </div>
    </div>

    <div class="form-group row" *ngIf="prevConnectedDataSourceItems.length > 0">
      <label class="col-md-3 col-form-label" [for]="'dataSourceName'"
        >DataSource:
      </label>
      <div class="col-md-9 ">
        <label *ngFor="let value of prevConnectedDataSourceItems">
          <input
            kendoTextBox
            class="form-control"
            type="text"
            [readonly]="true"
            [(ngModel)]="value.name"
          />
        </label>
      </div>
    </div>
    <!-- Title -->
    <div class="form-group row">
      <label class="col-md-3 col-form-label" [for]="'aggregationNameId'"
        >Name:
      </label>
      <div class="col-md-9">
        <input
          id="aggregationNameId"
          kendoTextBox
          class="form-control"
          [(ngModel)]="editAggregation.name"
          [readOnly]="readOnly"
          (ngModelChange)="onInputFieldChange($event)"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 form-label">Group By:</label>
      <div class="col-xs8 col-sm-9 col-md-9">
        <kendo-multiselect
          [data]="pipelineColumnNames"
          [textField]="'name'"
          [valueField]="'id'"
          [allowCustom]="false"
          [valuePrimitive]="true"
          [(ngModel)]="editAggregation.groupByFields"
          [disabled]="readOnly"
          (ngModelChange)="onInputFieldChange($event)"
        >
        </kendo-multiselect>
      </div>
    </div>
    <app-aggregation-form
      (addAggregationElement)="addNewEditAggregationElement($event)"
      [aggregationFunctionNames]="aggregationFunctionNames"
      [editAggregationElement]="editAggregationElement"
      [componentId]="workflowItem.id"
      [readOnly]="readOnly"
      [filteredNumericField]="numericField"
    >
    </app-aggregation-form>
    <div class="form-group row">
      <div class="col-md-12">
        <kendo-grid
          [data]="listAggregation"
          (edit)="editAggregationElementHandler($event)"
          (remove)="removeAggregtionElementHandler($event)"
        >
          <kendo-grid-column field="aggregationFunction" title="Function">
          </kendo-grid-column>
          <kendo-grid-column field="columnName.name" title="Coulmn">
          </kendo-grid-column>
          <kendo-grid-column field="alias" title="Alias"> </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <button
          kendoButton
          *ngIf="!openedDetailsPopup"
          (click)="openDetailsPopup()"
        >
          More Details
        </button>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <div class="input-group">
          <button
            kendoButton
            (click)="saveConfiguredAggregation()"
            class="btn btn-primary"
            [icon]="'save'"
            [disabled]="readOnly"
          >
            Save Aggregation
          </button>
        </div>
      </div>
    </div>
    <kendo-dialog
      title="Aggregation Component - More Details"
      *ngIf="openedDetailsPopup"
      (close)="closeDetailsPopup()"
      [minWidth]="300"
      height="400"
    >
      <div class="k-form">
        <div class="container">
          <div class="form-group row">
            <div class="col-md-12">
              <kendo-grid
                [data]="listAggregation"
                (edit)="editAggregationElementHandler($event)"
                (remove)="removeAggregationElementHandler($event)"
              >
                <kendo-grid-column
                  field="aggregationFunction"
                  title="Aggregation Function"
                >
                </kendo-grid-column>
                <kendo-grid-column field="columnName.name" title="Column Name">
                </kendo-grid-column>
                <kendo-grid-column field="alias" title="Alias">
                </kendo-grid-column>
                <kendo-grid-column field="" title="Edit/Delete">
                  <ng-template kendoGridCellTemplate>
                    <button kendoGridEditCommand [disabled]="readOnly">
                      Edit
                    </button>
                    <button
                      kendoGridRemoveCommand
                      [primary]="true"
                      [disabled]="readOnly"
                    >
                      Delete
                    </button>
                  </ng-template>
                </kendo-grid-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </kendo-dialog>
    <app-confirm-delete-action
      *ngIf="openedConfirmDeleteAction"
      [selectedItemForDelete]="selectedItemForDelete"
      (confirmDeleteItem)="confirmDeleteItem($event)"
      (cancelDeleteItem)="cancelDeleteItem()"
    >
    </app-confirm-delete-action>
    <kendo-dialog
      title="Edit aggregation"
      *ngIf="openedEditAggregationPopup"
      (close)="closeEditAggregationPopup()"
      [minWidth]="400"
      [height]="337"
    >
      <app-aggregation-form
        (saveEditAggregationElement)="saveEditAggregationElement($event)"
        (cancelEditAggregationElement)="cancelEditConfiguredAggregation($event)"
        [isEditForm]="true"
        [editAggregationElement]="editAggregationElement"
        [componentId]="workflowItem.id"
        [aggregationFunctionNames]="aggregationFunctionNames"
        [readOnly]="readOnly"
        [filteredNumericField]="numericField"
      ></app-aggregation-form>
    </kendo-dialog>
  </div>
</div>
