<app-navbar></app-navbar>
<div class="pane-content">
  <app-workflow-toolbar
    (disableTreeView)="disableTreeView($event)"
    (treeViewItemCreated)="treeViewItemCreated($event)"
    (treeViewItemRenamed)="treeViewItemRenamed($event)"
    (treeViewItemDeleted)="treeViewItemDeleted($event)"
    (startEditClicked)="startEditClicked()"
    (stopEditClicked)="stopEditClicked()"
  ></app-workflow-toolbar>
</div>
<kendo-splitter class="body" orientation="vertical">
  <kendo-splitter-pane>
    <kendo-splitter style="height:auto">
      <kendo-splitter-pane [collapsible]="true" size="15%">
        <div class="pane-content">
          <div class="container-fluid">
            <app-tree-view
              (treeViewItemSelected)="treeViewItemSelected($event)"
            ></app-tree-view>
          </div>
        </div>
      </kendo-splitter-pane>
      <kendo-splitter-pane>
        <div class="kendo-dialouge">
          <div id="app" class="joint-app joint-theme-modern">
            <div class="app-header">
              <div class="app-title">
                <h1>Pipeline</h1>
              </div>
              <div class="toolbar-container"></div>
            </div>
            <div class="pane-content">
              <div
                class="stencil-container"
                [ngClass]="{ elementVisibility: !editMode }"
              ></div>
              <div class="paper-container"></div>
              <div
                class="inspector-container"
                [ngClass]="{ elementVisibility: !editMode }"
              ></div>
              <div class="navigator-container"></div>
            </div>
          </div>
        </div>
      </kendo-splitter-pane>
      <kendo-splitter-pane
        [collapsible]="true"
        size="20%"
        style="background-color: #F6F6F6"
      >
        <div class="pane-content">
          <app-propeties-container
            [componentType]="componentType"
            [graphCells]="rappid ? rappid.graph.getCells() : []"
            [componentSavedStatus]="componentSavedStatus"
            (saveWorkflow)="saveWorkflow($event)"
          ></app-propeties-container>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </kendo-splitter-pane>
</kendo-splitter>


<app-delete-workflow-item
  *ngIf="openedDeleteWorkFlowItemWindow"
  [selectedItemsForDelete]="selectedWorkflowItemsForDelete"
  (deleteWorkFlowItems)="confirmDeleteWorkFlowItems($event)"
  (closeDeleteItemWindow)="cancelDeleteWorkFlowItem()"
>
</app-delete-workflow-item>

<ng-container #container></ng-container>