.joint-app {
  position: absolute;
}
.elementVisibility {
  pointer-events: none;
}

.body {
  overflow: hidden;
  height: calc(100% - 125px);
  left: 1px;
}

.properties {
  padding-top: 1.5em;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #4f8f6c;
}

/* Treeview */
.navigator-container {
  position: absolute;
  right: 2%;
  bottom: 7%;
  width: 240px;
  height: 120px;
}
