/*
    1: Paper
    2: Inspector
    3: Navigator
    4: Stencil
    5: Toolbar
    6: Treeview
    7: Rappid Env
    8: Splitter
*/

@font-face {
  font-family: "Roboto Condensed";
  src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  font-weight: Normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
  font-weight: Bold;
}

@font-face {
  font-family: "Averia Libre";
  src: url("../assets/fonts/Averia_Libre/AveriaLibre-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Averia Libre";
  src: url("../assets/fonts/Averia_Libre/AveriaLibre-Regular.ttf");
  font-weight: Normal;
}

@font-face {
  font-family: "Averia Libre";
  src: url("../assets/fonts/Averia_Libre/AveriaLibre-Bold.ttf");
  font-weight: Bold;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
  font-weight: Normal;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("../assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf");
  font-weight: Bold;
}

html,
body,
.joint-app {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  font-family: sans-serif, Arial;
  overflow: hidden;
}

.app-header {
  position: absolute;
  width: 100%;
  height: 6%;
  min-height: 34px;
}

.app-body {
  position: relative;
  height: -moz-calc(100% - 36px);
  height: -webkit-calc(100% - 36px);
  top: 6%;
  height: calc(100% - 36px);
  background: whitesmoke;
}

.app-title {
  display: inline-block;
  width: 240px;
  height: 100%;
  padding: 0;
}

.app-title > h1 {
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 30px;
}

.joint-app.joint-theme-modern .app-title {
  background: rgba(31, 78, 121, 1) !important;
}

/* 1:  Paper  */

.paper-container {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  left: 240px;
  overflow: hidden;
  right: 0px;
}

/* 2:  Inspector  */

.inspector-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 120px;
  width: 240px;
  box-sizing: border-box;
}

.object-property[data-property$="/fill"],
.object-property[data-property$="/stroke"],
.field[data-field$="/fill"],
.field[data-field$="/stroke"] {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.joint-select-box.joint-color-palette
  .select-box-option:nth-child(2):not(.hover) {
  border: inset;
  border-width: 1px;
}

.joint-inspector-select-box-options {
  width: 190px;
}

/* 3:  Navigator  */

.navigator-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 120px;
}

/* 4:  Stencil  */

.stencil-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
}

.joint-stencil .joint-element[data-type="standard.Image"] text,
.joint-stencil .joint-element[data-type="standard.Cylinder"] text,
.joint-stencil .joint-element[data-type="standard.InscribedImage"] text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .inPorts text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .outPorts text,
.joint-stencil .joint-element[data-type="pn.Transition"] text,
.joint-stencil .joint-element .joint-port text {
  display: none;
}

.joint-stencil .joint-element.joint-type-uml rect,
.joint-stencil .joint-element.joint-type-uml path {
  stroke: #4a4d6e;
}

/* 5:  Toolbar  */

.toolbar-container {
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 240px;
  right: 0;
  box-sizing: border-box;
}

.toolbar-container .joint-toolbar {
  width: 100%;
  height: 100%;
  box-shadow: 15px -2px 12px 4px #656565;
  position: absolute;
  z-index: 1;
}

.toolbar-container label {
  white-space: nowrap;
}

.toolbar-container button:not(:empty) {
  padding: 0 4px;
}

.toolbar-container button.joint-widget[data-type="zoomIn"],
.toolbar-container button.joint-widget[data-type="zoomOut"] {
  display: none;
}

.joint-dialog.joint-lightbox .fg {
  background-color: #f6f6f6;
}

/*Menu Items*/
.k-menu-link {
  color: #0d4b5e !important;
  font-weight: 500;
}

/* Tree View */
.k-treeview .k-in {
  border-radius: 0.25rem;
  margin: 0;
  padding: 0.375rem 0.375rem;
  border: 1px solid transparent;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  position: relative;
}

.k-treeview .k-in.k-state-selected {
  color: #fff;
  background-color: #4f8f6c;
  border-color: #4f8f6c;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 3px 20px;
  box-shadow: 1px 1px 3px 0px #656565;
}
/*Dialog window*/
.submit-button {
  background: #4f8f6c !important;
  color: #fff !important;
  border-color: #4f8f6c;
  width: 35%;
  font-family: "Montserrat", sans-serif;
}
.cancel-button {
  background: #dee2e6 !important;
  color: #495057 !important;
  border-color: #dee2e6;
  width: 35%;
  font-family: "Montserrat", sans-serif;
}
.btn-primary.k-button {
  background-image: none;
  background-color: #4f8f6c !important;
  color: #fff !important ;
}
.k-dialog-buttongroup {
  border-width: 0 0 0 0;
}
.k-dialog-titlebar {
  border-color: inherit !important;
  color: #fff !important;
  background-color: #4f8f6c !important;
}
/* Rappid ENV */

.joint-app.joint-theme-modern .inspector-container {
  background: #383b61;
  display: none;
}

.joint-navigator.joint-theme-modern {
  position: relative;
  bottom: 3em;
  right: 5em;
  border-radius: 10px;
  border-width: 5px;
}

.joint-stencil.joint-theme-modern .group {
  background-color: #f6f6f6;
}

.joint-stencil.joint-theme-modern .group > .group-label {
  display: none;
}

.joint-stencil.joint-theme-modern {
  color: #fff3f4;
  background: #f6f6f6;
  width: 100%;
  box-shadow: 7px 6px 8px 1px #d3d3d3;
  z-index: 1;
}

.search-wrap,
.groups-toggle {
  display: none;
}

.joint-stencil.joint-theme-modern.searchable.collapsible > .content {
  top: 0px;
}

.joint-app.joint-theme-modern .app-title {
  background: #4f8f6c;
}

/* splitter */

.k-splitter-flex .k-splitbar {
  position: static;
  flex: 0 0 auto;
  box-shadow: antiquewhite;
  box-shadow: 1px 1px 20px #888888;
}

/* Another CSS */

.k-grid-header,
.k-header,
.k-grid-header-wrap,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-grid td,
.k-grid-footer,
.k-grid-footer-wrap,
.k-grid-content-locked,
.k-grid-footer-locked,
.k-grid-header-locked,
.k-filter-row > td,
.k-filter-row > th {
  border-color: rgba(0, 0, 0, 0.08);
  width: 100%;
}

/* Notification */

.k-notification-container {
  /*  margin: 2px 0;*/
  margin: 0.375rem 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
}
.k-notification {
  line-height: 3.428571em;
}

.noDisplay {
  display: none;
}

/*Grid*/
.boldColumnHeader {
  color: #656565 !important;
  font-weight: bold !important;
}
/*checkbox, raddiobutton*/
.k-checkbox:checked + .k-checkbox-label::before {
  border-color: #4f8f6c;
  background-color: #4f8f6c;
}
.k-radio:checked + .k-radio-label::before {
  border-color: #4f8f6c;
  background-color: #4f8f6c;
}
.boldText {
  color: #656565 !important;
  font-weight: bold !important;
  font-size: 14px;
  text-decoration: underline;
}

.panelTitle h6 {
  font-weight: bold !important;
}
/*dialog box*/
.largeDialogBox.k-dialog-wrapper .k-dialog {
  width: 70%;
  height: 80%;
}
