<form [formGroup]="aggregationElementForm">
  <div class="form-group row">
    <div class="col-md-6">
      <kendo-combobox class="form-control" [data]="listFunctions" formControlName="aggregationFunction" [placeholder]="'Function'"
        [(ngModel)]="editAggregationElement.aggregationFunction" [allowCustom]="false">
      </kendo-combobox>
    </div>
    <!-- FIELD -->

    <div class="col-md-6" *ngIf="editAggregationElement.aggregationFunction=='Count' || editAggregationElement.aggregationFunction=='None'">
      <div class="input-group">
        <kendo-combobox class="form-control" [data]="editAggregationElement.listcolumnName" [textField]="'name'"
          [valueField]="'id'" [(ngModel)]="editAggregationElement.columnName" formControlName="columnName"
          [placeholder]="'ColumnName'" [allowCustom]="false">
        </kendo-combobox>
      </div>
    </div>

    <div class="col-md-6" *ngIf="editAggregationElement.aggregationFunction!='Count' && editAggregationElement.aggregationFunction!='None'" >
      <div class="input-group">
        <kendo-combobox class="form-control" [data]="filteredNumericField" [textField]="'name'" [valueField]="'id'" [(ngModel)]="editAggregationElement.columnName"
          formControlName="columnName" [placeholder]="'ColumnName'" [allowCustom]="false">
        </kendo-combobox>
      </div>
    </div>
  </div>

  <!-- ALIAS -->
  <div class="form-group row">
    <label class="col-md-3 col-form-label" [for]="'dataSourceName'">Alias**:
    </label>
    <div class="col-md-9">
      <input  kendoTextBox class="form-control test" [(ngModel)]="editAggregationElement.alias" formControlName="alias"
        [readonly]="readOnly" />
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <div class="input-group">
        <button *ngIf="!isEditForm" kendoButton (click)="addConfiguredAggregation()" class="btn btn-primary" type="button"
          [icon]="'plus'" [disabled]="readOnly">
          Add aggregation
        </button>

        <button *ngIf="isEditForm" kendoButton (click)="cancelConfiguredAggregation()" class="btn form-control" type="button"
          [icon]="'cancel'" [disabled]="readOnly">
          Cancel
        </button>
        <button *ngIf="isEditForm" kendoButton (click)="editConfiguredAggregation()" class="btn btn-primary form-control"
          type="button" [icon]="'save'" [disabled]="readOnly">
          Save
        </button>
      </div>
    </div>
  </div>
</form>