<div class="container-fluid custom-container">
  <div class="mt-4">
    <app-start
      *ngIf="componentType === WorkflowItemComponentType.Start"
      [getWorkFlowItem]="graphCells"
    ></app-start>
    <app-data-source
      (saveDataSource)="saveWorkflowItem($event)"
      [compSavedStatus]="componentSavedStatus"
      *ngIf="componentType === WorkflowItemComponentType.DataSource"
      [graphCells]="graphCells"
    ></app-data-source>
    <app-transformation
      (saveTransformation)="saveWorkflowItem($event)"
      [graphCells]="graphCells"
      *ngIf="componentType === WorkflowItemComponentType.Transformation"
    ></app-transformation>
    <app-aggregation
      (saveAggregation)="saveWorkflowItem($event)"
      [graphCells]="graphCells"
      *ngIf="componentType === WorkflowItemComponentType.Aggregation"
    ></app-aggregation>
    <app-comparison-rules
      (saveComparison)="saveWorkflowItem($event)"
      [graphCells]="graphCells"
      *ngIf="componentType === WorkflowItemComponentType.ComparisonRule"
    ></app-comparison-rules>
    <app-reports
      *ngIf="componentType === WorkflowItemComponentType.Report"
      (saveReports)="saveWorkflowItem($event)"
    ></app-reports>
  </div>
</div>
