<div>
  <kendo-upload
    [saveUrl]="uploadSaveUrl"
    [restrictions]="fileTypeRestriction"
    [multiple]="false"
    [saveField]="'File'"
    (upload)="uploadUploadEventHandler($event)"
    (success)="successUploadEventHandler($event)"
    (error)="errorUploadEventHandler($event)"
    [disabled]="readOnly"
    [showFileList]="false"
  >
    <kendo-upload-messages select="Browse"> </kendo-upload-messages>
  </kendo-upload>
</div>
